/* Home */

.what-product {
    background: url(../img/bg.svg) no-repeat left bottom;
    padding: 0 0 85px;
    
    @media(max-width: $tablet-width) {
        background: transparent;
        margin: 0 0 10px;
    }
    
    a {
        font-weight: 500;
    }
    
    .items {
        display: flex;
        justify-content: space-between;
        max-width: 625px;
        margin: 60px auto;
        
        @media(max-width: $portrait-width) {
            flex-direction: column;
            align-items: center;
            margin: 48px auto;
        }
    }
    
    .item {
        max-width: 234px;
        text-align: center;
        
        @media(max-width: $portrait-width) {
            margin: 0 auto 48px;
            
            &:last-child {
                margin: 0 auto;
            }
        }
        
        img {
            margin: 0 0 100px;
            
            @media(max-width: $portrait-width) {
                margin: 0 0 24px;
            }
        }
        
        .btn-blue {
            width: 100%;
        }
    }
    
    .title {
        font-size: 38px;
        margin: -3px 0 -4px;
    }
    
    .subtitle {
        font-size: 26px;
        letter-spacing: 1px;
    }
}

/* Fill form */

.fill-form {
    background: url(../img/bg.svg) no-repeat left 940px;
    padding-bottom: 65px;
    margin-bottom: 69px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    
    @media(max-width: $landscape-width) {
        background: transparent;
    }
    
    & ~ .bottom-text {
        max-width: 1100px;
        
        .subtitle {
            font-size: 36px;
            line-height: 42px;

            @media(max-width: $tablet-width) {
                font-size: 24px;
            }
        }
    }
    
    form {
        max-width: 339px;
        margin: 0 auto;
        
        @media(max-width: $tablet-width){
            max-width: 360px;
            margin: 40px auto 0;
        }
        
        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            
            &.adress-text {
                margin: 0;
                font-size: 12px;
                line-height: 17px;
                color: #2D2D2D;
            }
        }
    }
    
    p.text-center {
        margin: 20px 0 35px;
        font-size: 23px;
        line-height: 27px;
        font-weight: 300;
        
        @media(max-width: $tablet-width) {
            font-size: 22px;
            line-height: 28px;
        }
    }
    
    .item {
        max-width: 330px;
        margin: 0 0 10px;
        
        @media(max-width: $tablet-width) {
            margin: 0 0 48px;
        }
        
        img {
            margin: 0 0 20px;
        }
    }
    
    .btn-blue {
        width: 270px;
        max-width: 100%;
        margin: 0 0 30px;
    }
    
    .small {
        margin: 0 0 16px;
        font-size: 12px;
        line-height: 17px;
    
        a {
            color: #307EC9;
            font-weight: 300;
        }
    }
    
    .name {
        font-family: 'FuturaMediumC';
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        max-width: 250px;
        letter-spacing: 1px;
    }
    
    .title {
        letter-spacing: 1px;
        margin: 4px 0 3px;
        font-size: 38px;
    }
}

.limited {
    margin: 35px 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #3E3E3E;
}

.amazon {
    margin: 2px 0 10px;
    font-size: 14px;
    line-height: 20px;
    
    a {
        color: #307EC9;
        font-weight: 300;
        text-decoration: underline;
    }
}

.choose-gift {
    font-size: 18px;
    font-family: 'FuturaMediumC';
    margin: 0 0 44px;
    color: #000;
}

.schema {    
    img {
        display: block;
        margin: 0 auto 25px;
        max-height: 225px;
        
        @media(max-width: $tablet-width){
            max-width: 80%;
        }
    }
    
    p {
        font-size: 16px;
        line-height: 23px;
        font-weight: 300;
        color: #3E3E3E;
        
        &.schema-title {
            font-family: 'FuturaMediumC';
            font-size: 32px;
            line-height: 43px;
            margin: 0 0 38px;
            text-align: center;
            letter-spacing: 1px;
            color: #000;
        }
        
        &.name {
            font-family: 'FuturaMediumC';
            font-size: 23px;
            line-height: 34px;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
    }
    
    .item {
        max-width: 341px;
        margin: 0 auto 70px;
        
        @media(max-width: $tablet-width) {
            margin: 0 auto 48px;
        }
    }
}

.asked-questions {
    padding: 42px 0 70px;
    color: #2E2E2E;
    background: $btn-color;
    
    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
    }
    
    .section-title {
        font-family: 'FuturaMediumC';
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 29px;
        text-align: center;
        margin: 0 0 50px;
    }
    
    .question {
        font-family: 'FuturaMediumC';
        margin: 3px 0 14px;
        font-size: 22px;
        line-height: 30px;
    }
}

/* Choose color */

.choose-color {
    background: url(../img/bg.svg) no-repeat left 200px;
    
    @media(max-width: $landscape-width) {
        background: transparent;
    }
    
    p {
        font-size: 22px;
        line-height: 31px;
        text-align: center;
        
        &.light {
            margin: 30px 0 55px;
            font-weight: 300;
        }
    }
    
    img {
        margin: 0 0 53px;
    }
    
    .container {
        max-width: 950px;
    }
    
    .title {
        margin: 5px 0 10px;
        font-size: 36px;
        line-height: 44px;
    
        @media(max-width: $tablet-width) {
            font-size: 30px;
            line-height: 36px;
        }
        
        br {
            @media(max-width: $landscape-width) {
                display: none;
            }
        }
    }
    
    .item {
        max-width: 197px;
        margin: 0 auto 65px;
        text-align: center;
    }
    
    .btn-blue {
        width: 160px;
    }
}

/* Review product */

.review {
    &-header {
        position: relative;
        display: none;
        background: transparent;
        height: 125px;
        margin: 0;
        padding: 0;
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 49%;
            margin-right: -80px;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: url(../img/review-bg.png) no-repeat right center;
            background-size: 100% 100%;
        }
        
        a {
            display: inline-block;
            margin: 22px 0 23px;     
        }
        
        img {
            height: 79px;
        }
    }
    
    &-product {
        @media(max-width: $tablet-width) {
            background: url(../img/rate-bg.svg) no-repeat center bottom;
            background-size: contain;
        }
        
        b {
            font-weight: 500;
        }

        .container {
            min-height: calc(100vh - 125px);
            max-width: 1200px;
            background: url(../img/rate-bg.svg) no-repeat center bottom;
            background-size: contain;
            text-align: center;
            
            @media(max-width: $tablet-width) {
                background: transparent;
            }
        }

        .title {
            font-family: 'FuturaMediumC';
            margin: 65px 0 82px;
            letter-spacing: 1px;
            font-size: 36px;
            line-height: 22px;
            
            @media(max-width: $tablet-width) {
                margin: 48px 0 24px;
                font-size: 30px;
                line-height: 36px;
            }
        }

        .stars {
            margin: 0 0 25px;
        }
    }
}

.product-img {
    display: block;
    margin: 0 auto 20px;
}

.step {
    display: none;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 0 180px;
    
    @media(max-width: $tablet-width) {
        padding: 0 0 64px;
    }
    
    &.show {
        display: block;
    }
    
    p {
        font-size: 23px;
        line-height: 26px;
        margin: 0;
        color: #2E2E2E;
        
        @media(max-width: $tablet-width) {
            font-size: 22px;
            line-height: 28px;
        }
        
        &.title {
            font-size: 32px;
            line-height: 42px;
            margin: 24px 0 15px;
        }
        
        &.step-desc {
            font-size: 28px;
            line-height: 40px;
            font-weight: 300;
            margin: 0 -10px 20px;
            color: #2E2E2E;
            
            &.future {
                margin: 80px 0 0;
                font-size: 33px;
                line-height: 40px;
                
                @media(max-width: $tablet-width) {
                    margin: 0 0 24px;
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            
            @media(max-width: $tablet-width) {
                margin: 0 0 24px;
                font-size: 22px;
                line-height: 28px;
            }
            
            & + .review-bottom {
                margin-top: 85px;
                
                @media(max-width: $tablet-width) {
                    margin-top: 48px;
                }
            }
            
            b {
                color: #000;
            }
        }
        
        &.thank-title {
            font-family: 'FuturaMediumC';
            font-size: 64px;
            line-height: 68px;
            margin: 0 0 20px;
        }
    }
    
    .under {
        font-family: 'FuturaMediumC';
        margin: 38px 0 10px;
        font-size: 34px;
        line-height: 43px;
        color: #000;
    }
    
    &.step-1 {
        padding: 0 0 60px;
    }
    
    &-2 {
        max-width: 1010px;
        padding-right: 4px;
    }
    
    &-3 {
        margin-top: -25px;
        
        @media(max-width: $tablet-width) {
            margin-top: 0;
        }
    }
    
    &-4 {
        .under {
            margin: 12px 0;
            
            @media(max-width: $tablet-width) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        
        p.title {
            font-size: 34px;
            line-height: 44px;
            
            @media(max-width: $tablet-width) {
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
    
    .review-bottom {
        max-width: 1010px;
        margin: 28px auto 0;

         p {
            font-family: 'FuturaMediumC';
            margin: 0 0 18px;
            font-size: 23px;
            line-height: 26px;
            color: #000;
        }
    }
}

.link-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    margin: 32px auto 40px;
    font-size: 28px;
    line-height: 33px;
    
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        @media(max-width: $tablet-width) {
            flex-direction: column;
        }
        
        &.input-file {
            justify-content: center;
            max-width: 470px;
        }
    }
    
    &-success {
        display: none;
        margin: 45px 0 37px;
        text-align: center;
        
        img {
            display: block;
            margin: 0 auto 16px;
        }
        
        p {
            font-family: 'FuturaMediumC';
            font-size: 28px;
            line-height: 37px;
            margin: 0 0 16px;
        }
        
        a {
            font-weight: 300;
            color: #307EC9;
            font-size: 16px;
            line-height: 19px;
        }
    }
    
    input[type="text"] {
        height: 50px;
        margin: 0 12px 0 0;
        
        @media(max-width: $tablet-width) {
            margin: 0 auto;
            max-width: 320px;
        }
    }
    
    .btn-blue {
        font-size: 20px;
        line-height: 22px;
        min-width: 223px;
        max-width: 250px;
        flex-grow: 1;
        
        @media(max-width: $tablet-width) {
            margin-top: 10px;
        }
    }
    
    .or {
        padding-right: 10px;
        margin: 9px auto 13px;
        text-align: center;
        
        @media(max-width: $tablet-width) {
            margin: 15px auto 5px;
        }
    }
}