@media screen and (max-width: 1320px) {
    .content .vector-img1 {
        left: 120px;
    }
    .product-item {
        width: 31%;
    }
    .page {
        padding: 20px 15px;
    }
    .left-img {
        left: -24px;
    }
    .text4 {
        max-width: 970px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1198px) {
    .right-block {
        width: 339px
    }
    .cooontent {
        justify-content: center !important;
    }
    .left-block {
        width: 524px;
    }
    .left-img {
        display: none;
    }
    .left-txt-mobile {
        display: block;
        padding: 16px 0 40px;
        text-align: left;
    }
    .info-txt {
        display: none;
    }
}

@media screen and (max-width: 1158px) {
    .main__img4,
    .main__img5,
    .main__img6 {
        display: none;
    }
}

@media screen and (max-width: 1140px) {
    .content .vector-img1 {
        left: 70px;
    }
    .hide-img2 {
        display: none;
    }
    .content-subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .content .vector-img1 {
        left: 50px;
    }
}

@media screen and (max-width: 991px) {
    .hide-img {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    .product-desc {
        font-size: 15px;
        line-height: 21px;
    }
    .product-block {
        margin: 10px 10px 10px;
        min-height: 290px;
        width: 200px;
    }
    .cooontent {
        justify-content: flex-start !important;
    }
    .input-item {
        width: 100%;
    }
    .right-block {
        width: 330px;
    }
    .free-product-title2,
    .free-product-title {
        font-size: 25px;
        line-height: 36px;
    }
    .free-product-item-title {
        font-size: 20px;
        line-height: 30px;
        padding: 25px 0 15px;
    }
    .free-product-text2 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 844px) {
    .main__img1,
    .main__img2,
    .main__img3 {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .product-item:last-child {
        width: 47%;
    }
    .product-item,
    .product-container--pt35 .product-item {
        width: 47%;
        text-align: center !important;
    }
    .product-item:nth-child(2n+1) {
        margin-right: 15px;
    }
    .product-btn {
        margin: 40px 0 70px;
        font-size: 16px;
        line-height: 17px;
        min-height: 45px;
    }
    .free-product-item svg {
        width: 100%;
        max-height: 170px;
    }
    .free-product-item {
        max-width: 280px;
        width: 100%;
    }
    .free-product-item-title {
        font-size: 18px;
        line-height: 28px;
        padding: 20px 0 10px;
    }
    .free-product-desc {
        font-size: 14px;
        line-height: 20px;
    }
    .title3 {
        line-height: 36px;
    }
    .product-btn--mob {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .cont {
        display: block !important;
    }
    .left-block,
    .right-block {
        width: 100%;
    }
    .form-btn {
        margin: 30px 0;
    }
    .cooontent {
        justify-content: center !important;
    }
    .left-txt,
    .text-extra {
        max-width: 100%;
        margin: 0;
    }
    .main__img {
        /* display: none; */
    }
}

@media screen and (max-width: 589px) {
    .free-product-item {
        margin: 40px 0 10px;
    }
    .bloook {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .free-product-item1111 {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .free-product-item {
        max-width: 100%;
    }
    .icon-la {
        max-width: 100% !important;
        width: 65% !important;
    }
    .select-body {
        position: fixed;
        top: 50%;
        height: 90vh;
        overflow-y: auto;
        transform: translate(-50%, -50%);
        max-width: 90%;
        padding: 16px;
    }
    .feedback-btn3 {
        max-width: 100%;
    }
    .form {
        max-width: 100%;
    }
    .choose {
        margin-right: 0;
    }
    .choose-container {
        display: block;
    }
    .choose-container input {
        max-width: 100%;
    }
    .choose-container button,
    .choose-container a {
        width: 100%;
        margin: 15px 0 0;
    }
    .page3 {
        padding: 0 15px 100px;
    }
    .title3 {
        font-size: 30px;
        line-height: 36px;
        padding: 40px 0 30px;
    }
    .stars .stars-svg {
        width: 45px;
        height: 45px;
    }
    #footer {
        padding: 10px 15px 35px;
    }
    .select {
        top: 75%;
    }
    .footer-txt {
        line-height: 18px;
    }
    .product-block {
        width: 45%;
        min-height: 250px;
    }
    .product-block img {
        width: 100%;
    }
    .product-block:nth-child(2n+1) {
        margin-left: 0;
    }
    .product-block:nth-child(2n) {
        margin-right: 0;
    }
    .product-desc {
        font-size: 14px;
        line-height: 18px;
    }
    .free-product-title2 {
        padding-top: 80px;
    }
    .questions-text {
        padding: 10px 0 0;
    }
    .questions-item {
        max-width: 100%;
        margin: 30px 0 0;
    }
    .questions-subtitle {
        line-height: 26px;
    }
    .quations-title {
        font-size: 30px;
        line-height: 36px;
    }
    .step-title {
        font-size: 25px;
        line-height: 31px;
        padding: 20px 0 0;
    }
}

@media screen and (max-width: 525px) {
    .title {
        font-size: 20px;
        line-height: 42px;
    }
    .teext {
        font-size: 18px;
        line-height: 26px;
    }
    .content {
        padding: 30px 15px;
    }
    .content-title {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 10px;
    }
    .product-container {
        padding-top: 70px;
    }
    .product-btn {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .product-desc {
        font-size: 12px;
        line-height: 16px;
    }
    .product-block {
        min-height: 230px;
    }
}

@media screen and (max-width: 360px) {
    .product-btn {
        font-size: 14px;
        line-height: 15px;
        min-height: 40px;
    }
    .product-block {
        min-height: 200px;
    }
}