body {
    margin: 0;
    padding: 0;
    background: #edfbe3;
}

body.active {
    background-color: rgb(0, 0, 0, .3);
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* fonts */

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}


/* Extra classes: */

.full-page {
    position: relative;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img--container {
    position: relative;
}

.main__img1 {
    position: absolute;
    top: 10px;
    left: 0;
}

.main__img2 {
    position: absolute;
    top: 40%;
    left: 100px;
}

.main__img3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main__img4 {
    position: absolute;
    top: 10px;
    right: 100px;
}

.main__img5 {
    position: absolute;
    top: 38%;
    right: 50px;
}

.main__img6 {
    position: absolute;
    bottom: 50px;
    right: 0;
}

.main--block__title {
    font-family: 'Montserrat-Bold';
    font-size: 44px;
    color: #3E5131;
}

.main--block__subtitle {
    font-family: 'Montserrat-Bold';
    font-size: 30px;
    color: #3E5131;
    padding: 30px 0 20px;
}

.main--block__txt {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #000;
    padding: 30px 0 7px;
}

.main--block__txt2 {
    font-family: 'Roboto-Regular';
    font-size: 14px;
}

.main--block__txt2 a {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}

.main--block__txt2 a:hover {
    text-decoration: none;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.just-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.just-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.just-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.page {
    position: relative;
    padding: 20px 70px;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}


/* HEADER */

#header {
    width: 100%;
    min-height: 73px;
    padding-top: 2px;
    background-color: #BBDEA5;
}

.logo-img {
    padding: 0 20px;
}


/* Content */

.content {
    position: relative;
    padding: 30px 15px 60px;
}

.content--color {
    padding-top: 55px;
}

.content .vector-img1 {
    position: absolute;
    left: 180px;
}

.content-title {
    font-family: 'Montserrat-Bold';
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #3E5131;
}

.content-subtitle {
    margin: 33px auto 0;
    width: 950px;
    font-family: 'Montserrat-Regular';
}

.content-subtitle p {
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: #000000;
    line-height: 31px;
}

.content-subtitle a {
    color: inherit;
}

.content-nofees {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 22px;
    line-height: 31px;
    margin-top: 30px;
    text-align: center;
    color: #000000;
}

.content-desc {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.content-desc a {
    font-family: 'Roboto-Medium';
    text-decoration-line: underline;
    color: #000;
    font-size: 14px;
    line-height: 16px;
}

.product-container {
    padding-top: 100px;
}

.product-container--pt35 {
    padding-top: 35px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.product-container--pt35 .row {
    justify-content: space-around; 
}

.product-container--pt35 .product-item {
    width: unset;
}

.product-item {
    text-align: center;
    margin: 0 10px;
}
.product-item img{
    width: 234px;
    height: 234px;
}

.product-item:first-child {
    text-align: left;
}

.product-item:nth-child(3) {
    text-align: right;
}

/* .product-item:last-child {
    width: 100%;
} */

.product-item:first-child .product-item__colors,
.product-item:first-child .product-item__weights,
.product-item:first-child>img {
    margin-left: 0;
}

.product-item:nth-child(3) .product-item__colors,
.product-item:nth-child(3) .product-item__weights,
.product-item:nth-child(3)>img {
    margin-right: 0;
}

.product-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    background: #789B60;
    border-radius: 50px;
    margin: 60px 0 90px;
    width: 234px;
    padding: 0 5px;
    min-height: 50px;
    cursor: pointer;
}

.product-item__colors,
.product-item__weights {
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px auto 0;
    max-width: 234px;
    flex-wrap: wrap;
}

.product-item__weights {
    height: 20px;
    margin-top: 0;
}

.product-item__weight {
    margin: 0 3px;
    font-size: 16px;
    line-height: 20px;
    color: #2D2D2D;
    font-family: 'Montserrat-Regular';
}

.product-item__color {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin: 0 1px;
}

.product-item>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-btn--mb0 {
    margin-bottom: 0;
}

.product-btn:focus {
    outline: none;
}

.home-img2 {
    position: absolute;
    bottom: 150px;
    left: 0;
}

.home-img3 {
    position: absolute;
    bottom: 40px;
    right: 0;
}

.just-text {
    background-color: #fff;
    padding: 20px 15px 60px;
}

.title {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #3E5131;
    padding: 10px 0 20px;
}

.teext {
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.teext span {
    line-height: 20px;
}

#footer {
    padding: 7px 15px 5px;
    background-color: #BBDEA5;
    position: relative;
}

.select {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.select select {
    background: transparent;
    border: 0;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 23px;
    color: #3E5131;
    padding: 0 23px 0 0;
    background: transparent url(../img/select.svg) no-repeat right center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select select:hover,
.select select:focus {
    outline: none;
    box-shadow: none;
    background: transparent url(../img/select.svg) no-repeat right center;
}

.select option {
    color: #000;
}

.select svg {
    margin-left: 10px;
}

.rus {
    display: none;
}

.select span {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 23px;
    color: #3E5131;
}

.select-list {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: #E5E6E4;
    border: 1px solid #C7C7C7;
    padding: 7px;
    border-radius: 7px;
    width: 120px;
    height: 69px;
    z-index: 99;
    display: none;
}

.select-list.list-show {
    display: block;
}

.language {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #3E5131;
    padding: 4px 5px;
    border-radius: 5px;
}

.bloook {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.language svg {
    margin: 0 5px 0 0 !important;
}

.language svg path {
    fill: #E5E6E4;
}

.language.active {
    background: #6BA1F9 !important;
    color: #fff;
}

.language:hover {
    background: #6BA1F9 !important;
    color: #fff;
}

.footer-txt {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 23px;
    color: #3E5131;
}


/* Second page: */

.content-title2 {
    text-transform: initial;
    text-align: center;
    padding: 45px 0 20px;
}

.content-txt2 {
    font-family: 'Montserrat-Regular';
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
}

.left-block {
    width: 67%;
    margin-right: 20px;
    position: relative;
}

.right-block {
    width: 30%;
}

.product-block {
    margin: 10px 27px 20px;
    min-height: 300px;
    width: 330px;
}

.product-block img {
    width: 100%;
}

.product-desc {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E5131;
    max-width: 255px;
    padding-top: 20px;
}

.form {
    max-width: 339px;
    margin: 10px auto 0;
    text-align: center;
}

.input-item {
    font-family: 'Montserrat-Medium';
    width: 339px;
    min-height: 49px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 20px;
    color: #5E6F52;
    margin-bottom: 12px;
}

.input-item.active {
    background: transparent;
    border: 1px solid transparent;
}

.input-item:focus {
    outline: none;
}

.input-item::placeholder {
    font-family: 'Montserrat-Regular';
}

.input-item11 {
    padding: 0 10px 0 16px;
}

.select-item {
    font-family: 'Montserrat-Regular' !important;
}

.input-txt1 {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    line-height: 17px;
    color: #2D2D2D;
    text-align: left;
}

#select-gift {
    position: relative;
}

#select-gift select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-header {
    cursor: pointer;
    min-height: 49px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.select-body {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 280px;
    width: 100%;
    font-family: 'Montserrat-Regular';
    background: #E5E6E4;
    border: 1px solid #DBDBDB;
    padding: 0 16px;
    font-size: 16px;
    line-height: 20px;
    color: #3E5131;
    text-align: left;
    border-radius: 7px;
    margin: 0 auto;
    display: none;
}

.select-body.active {
    display: block;
}

.select-child {
    max-width: 268px;
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
}

.choose-gift-desc {
    padding: 7px 0 4px;
    cursor: default;
    color: #000;
}

.choose-gift-desc span svg {
    margin-bottom: 2px;
}

.select-desc {
    padding: 5px 5px 5px 7px;
    cursor: default;
    color: #ABACAA;
}

.select-choose {
    color: #2E2E2E;
    padding: 4px 4px 4px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.select-choose:hover {
    color: #fff;
    background-color: #6BA1F9;
}

.select-choose.active {
    color: #fff;
    background-color: #6BA1F9;
}

.input-txt2 {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 50px;
    padding-left: 7px;
    text-align: left;
}

.input-txt2 a {
    color: #307EC9;
    ;
}

.form-btn {
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 270px;
    height: 50px;
    background: #789B60;
    border: none;
    border-radius: 50px;
    margin: 30px 0 0;
    cursor: pointer;
}

.form-btn:focus {
    outline: none;
}

.input-txt3 {
    font-size: 12px;
    line-height: 17px;
    padding-left: 0;
}

.input-txt3 a {
    color: #307EC9;
}

.input-txt4 {
    padding-left: 0;
}

.left-img {
    position: relative;
    left: -80px;
}

.text-extra {
    padding-top: 40px;
    width: 100%;
}

.left-txt {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 23px;
    color: #3E3E3E;
    max-width: 320px;
    margin-right: 10px;
}

.free-product {
    background-color: #fff;
    padding: 40px 15px 40px;
}

.free-product.active {
    background-color: transparent;
}

.free-product-title {
    font-family: 'Montserrat-Bold';
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #3E5131;
    padding: 20px 0 0;
}

.free-product-item {
    max-width: 350px;
    margin: 50px 15px 10px;
}

.free-product-item svg {
    margin: 0 auto;
}

.free-product-item-title {
    font-family: 'Montserrat-Bold';
    font-size: 23px;
    line-height: 34px;
    color: #3E5131;
    padding: 30px 0 24px;
}

.free-product-desc {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 23px;
    color: #3E3E3E;
}

.free-product-title2 {
    line-height: 42px;
    padding: 120px 0 20px;
}

.free-product-text2 {
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #414141;
    padding-bottom: 10px;
    max-width: 1123px;
    margin: 0 auto;
}

.free-product-text2 span {
    color: #000;
    line-height: 24px;
}

.questions {
    background: #789B60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 523px;
    padding: 0 15px 30px;
}

.quations-title {
    font-family: 'Montserrat-Bold';
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.info-txt {
    padding-top: 19px;
}

.left-txt-mobile {
    display: none;
}

.questions-item {
    max-width: 260px;
    margin: 50px 12px 0;
}

.questions-subtitle {
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
}

.questions-text {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 18px 10px 0 0;
}

.title3 {
    font-family: 'Montserrat-Bold';
    font-size: 34px;
    line-height: 22px;
    text-align: center;
    color: #3E5131;
    padding: 58px 0 60px;
}

.match-img1 {
    position: absolute;
    top: 0;
    right: 0;
}

.stars {
    padding: 27px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.stars label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    -webkit-mask-image: url(../img/star.svg);
    mask-image: url(../img/star.svg);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.stars input[type="radio"]:checked+label:before,
.stars input[type="radio"]:checked~label:before,
.stars input[type="radio"]:not(:disabled):hover~label:before {
    background-color: #fadf94;
}

.stars .stars-svg {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.stars .stars-svg path.active {
    fill: #FADF94;
}

.product-big-img {
    text-align: center;
    
}
.product-big-img img {
    text-align: center;
    width: 700px;
}
.form-img{
    width: 234px;
}

.big-product-title {
    font-family: 'Montserrat-Bold';
    font-size: 23px;
    line-height: 26px;
    color: #3E5131;
    padding: 20px 0 60px;
    max-width: 916px;
    margin: 0 auto;
}

.match-img2 {
    position: absolute;
    bottom: 90px;
    left: 0;
}

.logo2 {
    padding: 25px 0 18px;
    text-align: center;
}

.stars2 {
    padding-top: 0;
    padding-bottom: 25px;
}

.title4 {
    font-size: 32px;
    line-height: 42px;
    padding: 0 0 60px;
}

.text4 {
    font-family: 'Montserrat-Regular';
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #2E2E2E;
    padding-bottom: 10px;
}

.feedback-textarea {
    margin: 10px 0 20px;
    text-align: center;
}

#feedback {
    width: 100%;
    min-height: 148px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 26px;
    color: #5E6F52;
    padding: 10px 15px;
    border: 1px solid #3E5131;
    resize: none;
}

.feedback {
    width: 100%;
    min-height: 148px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 26px;
    color: #5E6F52;
    padding: 10px 15px;
    border: 1px solid #DBDBDB;
    resize: none;
}

#feedback::placeholder,
.feedback::placeholder {
    font-family: 'Montserrat-Regular';
    color: #5E6F52;
}

#feedback:focus,
.feedback:focus {
    outline: none;
}

.page2 {
    max-width: 1040px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.page3 {
    max-width: 1100px;
    width: 100%;
    padding: 0 15px 140px;
    margin: 0 auto;
}

.choose span {
    display: block;
    cursor: pointer;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feedback-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49px;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #789B60;
    border-radius: 50px;
    border: none;
    margin: 12px 0 0;
    cursor: pointer;
}

.feedback-btn:focus {
    outline: none;
}

#country {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.country-container {
    position: relative;
}

.country-icon {
    position: absolute;
    top: 15px;
    right: 10px;
}

.content-title4 {
    font-family: 'Montserrat-Medium';
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #3E5131;
    padding: 15px 0;
}

.vektor-txt {
    margin-bottom: 12px;
}

.vektor-img {
    margin: 5px 10px 0 0;
}

.texts {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 21px;
    color: #2E2E2E;
}

.last-img {
    position: absolute;
    right: 0;
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
}

.img2 {
    position: absolute;
    top: 0;
    right: 0;
}

.title5 {
    font-size: 32px;
    padding: 16px 0 22px;
}

.no-padding {
    padding: 0;
}

.stars-extra {
    padding-top: 12px;
}

.title-line {
    font-size: 30px;
    line-height: 43px;
    text-decoration: underline;
    padding: 40px 0 10px;
}

.step-title {
    font-size: 28px;
    line-height: 40px;
    padding-top: 0;
}

.step-title span {
    font-family: 'Montserrat-Regular';
    color: #2E2E2E;
}

.feedback {
    width: 350px !important;
    min-height: 49px !important;
}

.feedback-btn2 {
    width: 223px;
    min-height: 49px;
    margin: 0 0 0 10px;
}

.feedback-btn3 {
    max-width: 250px;
    width: 100%;
}

.text-or {
    font-family: 'Montserrat-Medium';
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #3E5131;
    padding: 10px 0 11px;
}

.choose-file {
    display: none;
}

.choose {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #307EC9;
    margin-right: 50px;
}

.choose-img {
    margin-right: 10px;
}

.content-title5 {
    font-family: 'Montserrat-Medium';
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #3E5131;
    padding: 60px 0 20px;
}

.texts span {
    font-family: 'Montserrat-Bold';
    color: #3E5131;
}

.recieved-txt {
    font-family: 'Montserrat-Medium';
    font-size: 28px;
    line-height: 34px;
    color: #2E2E2E;
    padding: 20px 0;
}

.send-again {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #307EC9;
}

.thankyou-title {
    font-size: 56px;
    line-height: 73px;
    padding-top: 30px;
}

.thanks-txt {
    font-family: 'Montserrat-Medium';
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #3E5131;
}

.title-line2 {
    padding: 20px 0;
}

.thanks-last-txt {
    font-family: 'Montserrat-Regular';
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #2E2E2E;
}

.step-title-extra span {
    color: #3E5131;
}

.icon-la {
    max-height: 220px;
}

.big_img{
    max-width: 700px;
    max-height: 700px;
}